.alert {
    padding: 200px;
    margin: 20px;
    background-color: rgba(37, 71, 159, 0.73);
    color: white;
    position: absolute;
    top: 0px;
    z-index: 1;
    border-radius: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.mapEXO1 button {
  position: absolute;
  top: 280px;
  background: blue;
  color: #FFF;
  left: 439px;
}

.mapEXO1 img {
    width: 600px;
    line-height: 20px;
    margin-top: 0px;
    margin-left: 9px;
    margin-right:0px;
    display:inline-block;
    position:relative;
}

.wifi1 {
  top: 150px;
  left: 295px;
  width: 7em;
  padding: 7em;
  background: radial-gradient(rgba(51, 255, 0, 0.95), rgba(230, 246, 49, 0.57), rgba(252, 108, 69, 0.4));
  position: absolute;
  border-radius: 50%;
  height: 4em;
}
