* {
	font-family: 'Lato', sans-serif;
}
/* =========HEADER========= */
header img{
	width: 10%;
}
.container-fluid{
	background-color: grey;
}
/* =========NAVIGUATION========= */
#nav {
	margin: inherit;
}
a{
	list-style: none;
}
header div li ul li {
	display: none;
}
header div li:hover ul li{
	display: block;
}
.marge{
	padding-bottom:15px
}
/* =========FIN NAVIGUATION========= */
/* =========BODY========= */
#block-central{
	width: 500px;
}
/* =========FIN BODY========= *
/* =========FOOTER========= */
.myFlex{
	display:flex;
	justify-content: space-around;
}
#carte img{
	width: 90%;
}
#ld, #tourise{
	padding-top: 20px;
}

footer .r-fluid{
	background-color: #272727;
	color: #939393;
}
#block-g{
	background-color:#171717;
	color: #939393;
	height: 17em;
	width: 19em;
	padding-top: 3em;
}
#block-g >img{
	display:block;
	margin-left:auto;
	margin-right: auto;
	padding-bottom: 2.5em;
}

#block-footer {

	background-color: #272727;
}
.griffe{
	color: #808080;
	text-align: center;
	font-size: 16px;
}
/*=========CSS JUAN===========*/
.alert {
	background-color: rgba(40, 40, 40, 1);
	color: white;
	position: absolute;
	top: 160px;
	z-index: 1;
	left: 24px;
	width: 830px;
	height: 500px;
	border-radius: 0px;
}

#alert1 {
	background-color: rgba(40, 40, 40, 1);
	color: white;
	position: absolute;
	top: 160px;
	z-index: 1;
	left: 24px;
	width: 830px;
	height: 500px;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}

#gauche #wifi {
	position: absolute;
	top: 216px;
	color: #FFF;
	left: 589px;
	font-size: 10px;
}
#gauche #hotspot {
	display: none;
  position: absolute;
	font-size: 10px;
  top: 207px;
  color: #FFF;
  left: 194px;
}
#gauche #hotspot2 {
	position: absolute;
	color: #FFF;
	top: 432px;
	left: 446px;
	font-size: 10px;
}
#gauche #hotspot3 {
	position: absolute;
	color: #FFF;
	left: 760px;
	top: 100px;
	font-size: 10px;

}
#gauche #house {
	width: 830px;
	line-height: 20px;
	margin-top: 0px;
	margin-left: 9px;
	margin-right: 0px;
	display: inline-block;
	position: relative;
	border: solid 12px white;
}

#gauche #houseindex {
	 width: 830px;
}
#gauche #aoe1 {
	display: none;
	opacity: 0.50;
	position: absolute;
	left: 384px;
	top: 6px;
	width: 460px;
}

#gauche #aoe2 {
	display: none;
	opacity: 0.50;
	position: absolute;
	left: 26px;
	top: 16px;
	width: 400px;
}

/*=======NAVBAR DROPDOWN JUAN=======*/
.dropbtn {
    color: #23527c;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
		padding-top: 15px;
	padding-bottom: 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #c7c7c7;
}
.logoHead{
	padding: 0.5em 0
0.5em 0;
}
/*=======Fil d'ARIANE=======*/
.fil{
  background-image: url("../img/barre.png");
  background-size: cover;
  background-position:top;
  background-repeat: no-repeat;
  width:640px;
  display:flex;
  justify-content: space-between;
}
.base{
  color: black;
	background-color: white;
	padding: 3px 10px 5px 10px;
	border-radius: 14px;
	font-weight: bolder;
}
.blackBox{
	background-color: #272727;
	padding-top: 23px;
	padding-bottom: 23px;
	padding-left: 7em;
}
.active{
	background-color: #E96656;
}
.visited{
	background-color: #808080;
}

/*====Bande sous le sous Fil d'Ariane===*/
 .empty-strip{
   height: 15px;
   background-color: grey;
 }

/*====Bande blanche boutons ====*/
.btnGroup{
  background-color: white;
  width: 100%;
	margin-top: 6px;
	margin-bottom: 6px;
}

/*====Couleur boutons ===*/
.btn-default{
  color: white;
  background-color: #e96656;
}

.white-left{
  width: 5px;
}

/*====Cadre noir instructions ====*/
#droite{
	background-color: #282828;
	color: white;
	height: 504px;
	width: 31.8%;
	margin-right: 0.2em;
	margin-left: 0.2em;
	margin-bottom: 1.2em;
	border-radius: 1%;
}
