#instructions-title{
  color : white;
}

body{
  background-color: #272727;
}

div{
  border : solid black 1px;
}


.btn-group{
  display: flex;
  justify-content: flex-end;
  align-content: space-between;
}
